*.class

*.jar
*.war
*.ear

.idea/
out/
*.iml
target/
project/
project/build.properties
output/
**/.ipynb_checkpoints/
.Rproj.user
**/__pycache__/

### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz